nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 4.063rem;
  height: 6.25rem;
  font-weight: 700;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
